.card {
  position: relative;
  height: max-content;
  a {
    text-decoration: none;
  }
  &__img {
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 2rem 4rem rgba(black, 0.2);
    border: 0.5rem solid #fd1790;
  }

  &__number {
    position: absolute;
    top: 0.4rem;
    left: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    background-color: rgba($primary, 0.7);
    width: 3.2rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.1rem;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  }

  &__block {
    position: absolute;
    right: 2.2em;
    bottom: 2.3em;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10rem;
    padding: 0 0.7rem;
    border: 1px solid $primary;
  }

  &__icon {
    width: 1.08rem;
    height: 1.08rem;
    fill: $primary;
  }
  &__name {
    color: $primary;
    font-size: 1.26rem;
    margin-left: 0.5rem;
    line-height: 1.3;
    text-transform: capitalize;
  }

  &__cake,
  &__birthday {
    border-radius: 0.4rem;
    box-shadow: 0 2rem 4rem rgba(black, 0.1);
    position: absolute;
  }

  &__cake {
    width: 3rem;
    height: 3rem;
    fill: white;
    background-color: rgba(white, 0.4);
    padding: 0.55rem;
    top: 2.5rem;
    right: -4.2rem;
    cursor: pointer;
  }

  &__birthday {
    background-color: white;
    color: $primary;
    width: max-content;
    top: 6.5rem;
    right: -4.2rem;
    width: 2.9rem;
    height: 5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__date {
    font-size: 1.45rem;
  }
  &__month {
    font-size: 1.15rem;
    margin-top: 0.4rem;
  }
}
